*{
padding: 0;
margin: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

#header{
	width: 800px;
	height:100px;
	background-image:url('qc_ws_logo.png');
	background-repeat:no-repeat;
	background-position: left center;
}

#header-nav{
	float: right;
}

#header-nav li{
	display: inline;
	border-right: 1px solid gray ;
	padding: 0 5px 0 5px;
	font-size: .6em;
}

#header-nav li:last-child{
	border: none;
}

#header-nav ul{
	display: inline;
	float: left;
	padding-bottom: 8px;
	background-color: #f9f9f9;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #E0E0E0;
	border-top: none;
}

#header-nav input[type="submit"] {
    float: right;
    color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	width: 50px;
	height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 15px;
}

#header-nav a{
	text-decoration:none;
	color: gray;
}

#title{
	width: 800px;
	height: 50px;
	background-image:url('titlebg.jpg');
	background-repeat:repeat-x;
}

#title h1{
	color: white;
	font-size: 1.7em;
	padding: 10px 0 0 10px;
}

#breadcrumbs{
	background-image:url('phone_num.png');
	background-repeat:no-repeat;
	background-position: right top;
	width: 590px;
	height: 60px;
	border-bottom: 1px solid gray;
	margin-top: 15px;
}

#breadcrumbs a{
	text-decoration:none;
}

.homeIcon {
	margin: 0px;
	padding-left: 40px;
	background-image: url(brdhomIcon.png);
	background-repeat: no-repeat;
}

#content{
/* background-color: yellow; */
	float: left;
	width: 590px;
}

#content h1{
	color: #35b3f3;
	font-size: 1.1em;
	margin: 8px 0 8px 0;
}

#content h2{
	color: #35b3f3;
	font-size: .9em;
	margin: 8px 0 8px 0;
}

#content a {
	color:  #35b3f3;
}

#content ul {
	padding-left: 18px;
}

#content p {
	margin: 1em 0;
	font-size: .7em;
}

#content li {
	list-style: square;
}

#sidebar{
	width: 175px;
	float: left;
	padding: 65px 25px 0 10px;
}

#sidebar h3 {
	color: #35b3f3;
	font-size: 1em;
	margin-bottom: 10px;
}

#sidebar p {
	font-size: .7em;
}

#sidebar input[type="submit"] {
	width: 175px;
	font-weight: bold;
}

#sidebar img{
	padding-top: 15px;
}

.center{
	text-align: center;
}

.bottom-line{
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}

.red{
	color: red;
	font-weight: bold;
	font-size: .6em !important;
}

.blue-button {
	background-color: blue;
	color: white;
	border: none;
	margin-bottom: 5px;
	margin-top: 15px;
}
.orange-button {
	background-color: orange;
	color: white;
	border: none;
	margin-bottom: 5px;
}

#box{
	border: 5px solid #8cb9db;
	background-image: url(flag.jpg);
	background-repeat:no-repeat;
	background-position: left top;
}

#box h1, #box p {
	margin-left: 60px;
}

#box p{
	font-size: .8em;
}

#box input[type="submit"] {
    color: white;
    border: 1px solid green;
    background-color: #b3d100;
    margin: 0 0 5px 60px;
    font-weight: bold;
}
